<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linkly: URL Shortener</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Introduction -->
    <h1 id="Title">✨ Linkly: URL Shortener</h1>

    <div class="IntroBox">
        <p>
            Ever tired of remembering long links like 
            <i>company-user-/route/asset/api/gibberish-long_unneceesary-info_</i>?
            <br><br>
            Well, Linkly has got you covered 🤝🏻
            <br><br>
            With a single click, you can get a short, easy-to-remember, and unique URL 
            for any of your metres-long links 😁.
            <br><br>
            Just type in your link below and you'll get a short code for it!
        </p>
    </div>

    <br><br>

    <!-- Input region -->
    <input id="linkInput" placeholder="Enter valid URL" value="https://">
    <br><br>
    <input id ="linksuggestion" type="text" maxlength="10" placeholder="Enter a suggestion for prefix (max. 10 chars)">
    <br><br>
    <button onclick="submitLink()">Submit Link</button>

    <p id="responseText"></p>

    <br>

    <!-- Redirect to short URL -->
    <input id="redirectInput" placeholder="Enter valid short code">
    <button onclick="redirectLink()">Fast Travel 🚀</button>

    <br>
    <br>
    <br>
    <!-- Click Count parameter -->
    <input id="CounterInput" placeholder="Enter valid short code">
    <button onclick="get_clicks_of_code()">Click Count🧮</button>

    <p id="responseText2"></p>

    <!-- See database -->
    <button onclick="getAllLinks()">All Links List</button>

    <!-- Empty container -->
    <div id="LinksContainer"></div>

    <script>
        // Submit link to create short code
        async function submitLink() {
            const link = document.getElementById('linkInput').value;

            // Validate input
            if (!link) {
                document.getElementById('responseText').innerText = "⚠️ Please enter a link.";
                document.getElementById('linkInput').setAttribute('value', 'https://');
                return;
            }
            const suggestion = document.getElementById('linksuggestion').value;
            
            // POST request
            const res = await fetch('/api/shorten', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ link, suggestion })
            });

            const data = await res.json();

            // Display response
            if (data.error) {
                document.getElementById('responseText').innerText = "❌ " + data.error;
            } else {
                document.getElementById('responseText').innerText =
                    `Your link: ${data.long_url}\nShort URL: ${data.short_code}`;
            }
        }
        // Redirect to long URL
        function redirectLink() {
            const code = document.getElementById("redirectInput").value;

            if (code) {
                const path = window.location.origin + '/api/shorten/' + code;
                //console.log(path);
                window.open(path, '_blank');
            } else {
                alert('Please enter a valid short code.');
            }
        }
        async function get_clicks_of_code(){
            //show counter for number of times a code is clicked
            const code = document.getElementById("CounterInput").value;
            if(code){
                const res = await fetch('api/stats/'+code,{
                    method : 'GET'
                }
                );
                const data = await res.json();
            if (data.error) {
                document.getElementById('responseText2').innerText = "❌ " + data.error;
                }
            else{
                document.getElementById('responseText2').innerText =
                    `Your link: ${data.long_url}\nShort URL: ${data.short_code}\nClicked ${data.clicks} times`;
            }
            }
            else {
                document.getElementById('responseText2').innerText = "⚠️ Please enter a link.";
            }

        }
        // Show all links from database
        async function getAllLinks() {
            const res = await fetch('/api/show', { method: 'GET' });
            const data = await res.json();
            const container = document.getElementById("LinksContainer");
            container.innerHTML = "";
            if(data.warning)
                {
                    container.innerText =`${data.warning}`; 
                    return
                }
            // Create table
            const table = document.createElement("table");
            table.setAttribute('border', '1');
            table.setAttribute('bgcolor', '#ffffff');
            table.setAttribute('class', 'linktable');

            // Table header
            const headRow = document.createElement("thead");
            const head1 = document.createElement("th");
            head1.innerHTML = `Original Link`;
            const head2 = document.createElement("th");
            head2.innerHTML = `Short Link`;

            headRow.append(head1);
            headRow.append(head2);
            table.append(headRow);
            

            // Dynamically insert key-value pairs
            for (const [key, value] of Object.entries(data)) {
                const newRow = document.createElement("tr");

                const item1 = document.createElement("td");
                item1.setAttribute('class', 'linktable_data');
                item1.innerHTML = `${key}`;

                const item2 = document.createElement("td");
                item2.setAttribute('class', 'linktable_data');
                item2.innerHTML = `${value}`;

                newRow.append(item1);
                newRow.append(item2);
                table.append(newRow);
            }

            container.append(table);
        }
    </script>
</body>
</html>
