@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Global tweaks */
body {
  @apply bg-white text-gray-900 transition-colors duration-300;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
