/* Scroll Button */

/* to top */
.top-btn {
  position: fixed;
  bottom: 15px;
  right: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  z-index: 1000;
}

/* to bottom */
.bottom-btn {
  position: fixed;
  top: 80px;
  right: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  z-index: 1000;
}
