@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode */
.dark body {
  @apply bg-gray-900 text-gray-600;
}

/* NavBar*/
#myNav:hover {
  scale: 1.2;
  color: aquamarine;
}
#HEADER:hover {
  text-shadow: 0 0 10px #f00, 0 0 20px #f00, 0 0 30px #f00;
  scale: 1.2;
}
